@font-face {
    font-family: halyard-display;
    src: url("1bbc66f3ca8b797278c22c3c9f391f7999f4b774")format("woff2");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal
}

@font-face {
    font-family: halyard-text;
    src: url("e2f79b301cf189abf5386eaba63f81a789519d96")format("woff2");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal
}

@font-face {
    font-family: halyard-text;
    src: url("b0f8f0ccca3df7488b578182132d9710520c4a65")format("woff2");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: halyard-text;
    src: url("eab3a57ca27036f966fc2ebdd7e852edd6d1f851")format("woff2");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal
}



body {
    top: 0 !important
}

@media (max-width:1024px) {
    html {
        font-size: 8px
    }
}

@media (min-width:1024px) {
    html {
        font-size: 8px
    }
}

@media (min-width:1280px) {
    html {
        font-size: 9px
    }
}

@media (min-width:1440px) {
    html {
        font-size: 10px
    }
}

@media (min-width:1680px) {
    html {
        font-size: 10px
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

a:not(.block):not(sup),
p:not(.block):not(sup),
span:not(.block):not(sup) {
    font-size: 1.5rem;
    line-height: 1.4;
    text-decoration: none
}

a,
a:active {
    -webkit-transition: color .2s ease-in-out 0s;
    -moz-transition: color .2s ease-in-out 0s;
    -o-transition: color .2s ease-in-out 0s;
    -ms-transition: color .2s ease-in-out 0s;
    transition: color .2s ease-in-out 0s
}

a:active {
    color: #1eb2f5
}

/*! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4
}

[type=button],
button {
    -webkit-appearance: button
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

*,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box
}

.bg-white {
    --tw-bg-opacity: 1 !important
}

.bg-white {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

.border-chalk {
    border-color: rgba(235, 235, 235, var(--tw-border-opacity)) !important
}

.border-chalk {
    --tw-border-opacity: 1 !important
}

.focus\:border-GRAY-G2:focus {
    --tw-border-opacity: 1 !important;
    border-color: rgba(68, 68, 68, var(--tw-border-opacity)) !important
}

.rounded-sm {
    border-radius: .125rem !important
}

.rounded-lg {
    border-radius: .5rem !important
}

.border-default {
    border-width: 1px !important
}

.border-b-default {
    border-bottom-width: 1px !important
}

.cursor-pointer {
    cursor: pointer !important
}

.block {
    display: block !important
}

.flex {
    display: flex !important
}

.flex-row {
    flex-direction: row !important
}

.flex-col {
    flex-direction: column !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.items-end {
    align-items: flex-end !important
}

.items-center {
    align-items: center !important
}

.justify-end {
    justify-content: flex-end !important
}

.justify-center {
    justify-content: center !important
}

.justify-between {
    justify-content: space-between !important
}

.h-2 {
    height: 16px !important
}

.h-1\.5 {
    height: 12px !important
}

.leading-none {
    line-height: 1 !important
}

.mt-1 {
    margin-top: 8px !important
}

.mb-1 {
    margin-bottom: 8px !important
}

.ml-1 {
    margin-left: 8px !important
}

.mt-2 {
    margin-top: 16px !important
}

.mr-2 {
    margin-right: 16px !important
}

.ml-2 {
    margin-left: 16px !important
}

.mt-3 {
    margin-top: 24px !important
}

.mb-3 {
    margin-bottom: 24px !important
}

.ml-3 {
    margin-left: 24px !important
}

.mt-4 {
    margin-top: 32px !important
}

.mt-5 {
    margin-top: 40px !important
}

.mt-6 {
    margin-top: 48px !important
}

.mb-10 {
    margin-bottom: 80px !important
}

.mr-auto {
    margin-right: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.mb-\.25 {
    margin-bottom: 2px !important
}

.mt-\.5 {
    margin-top: 4px !important
}

.mb-\.5 {
    margin-bottom: 4px !important
}

.ml-\.5 {
    margin-left: 4px !important
}

.mt-2\.5 {
    margin-top: 20px !important
}

.object-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important
}

.outline-none {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important
}

.p-2 {
    padding: 16px !important
}

.p-1\.5 {
    padding: 12px !important
}

.p-2\.5 {
    padding: 20px !important
}

.relative {
    position: relative !important
}

.sticky {
    position: sticky !important
}

.hover\:underline:hover {
    text-decoration: underline !important
}

.w-2 {
    width: 16px !important
}

.w-auto {
    width: auto !important
}

.w-1\/2 {
    width: 50% !important
}

.w-2\/3 {
    width: 66.666667% !important
}

.w-1\/4 {
    width: 25% !important
}

.w-1\/6 {
    width: 16.666667% !important
}

.w-full {
    width: 100% !important
}

input:disabled {
    -webkit-text-fill-color: #545454 !important;
    background: #fff;
    color: #545454 !important;
    opacity: 1
}

.max-width-1248 {
    max-width: 1248px !important
}

.min-width-1048 {
    min-width: 1048px !important
}

button:active {
    filter: brightness(.9) !important
}

button:active,
button:focus {
    outline: none !important
}

.react-tel-input :disabled {
    cursor: not-allowed
}

.react-tel-input * {
    -moz-box-sizing: border-box
}

.react-tel-input input[type=tel]:active {
    border-color: #444
}

.react-tel-input .flag-dropdown:hover {
    cursor: pointer
}

.react-tel-input input[type=tel] {
    box-shadow: none !important;
    padding: 0 0 0 60px !important
}

.react-tel-input input[type=tel]:focus {
    outline: none !important
}

.react-tel-input .flag-dropdown {
    background-color: #fff !important;
    border: none !important;
    outline: none !important;
    top: 0 !important
}

.react-tel-input .flag-dropdown .selected-flag {
    border: none !important;
    height: 14px !important;
    outline: none !important;
    padding: 0 0 0 16px !important;
    width: 40px !important
}

.react-tel-input .flag-dropdown .selected-flag .flag {
    margin-top: 0 !important;
    outline: none !important
}

.react-tel-input .flag-dropdown .selected-flag:active {
    filter: none !important
}

.react-tel-input .flag-dropdown {
    background: #fff !important;
    border-right: none !important;
    color: #444 !important;
    font-family: Avenir !important
}

button:disabled {
    filter: none !important;
    pointer-events: none
}

.react-tel-input input[type=tel] {
    height: 53px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important
}

.form-control:active,
.react-tel-input:active {
    box-shadow: none !important;
    outline: none !important
}

.flag-dropdown:active,
.flag-dropdown:focus,
.react-tel-input .flag-dropdown:focus {
    box-shadow: none !important;
    cursor: pointer;
    outline: none !important;
    z-index: 100 !important
}

.form-control:focus {
    outline: none !important
}

.react-tel-input input {
    border-radius: 4px !important
}

.react-tel-input input:active,
.react-tel-input input:focus {
    border-color: #444
}

.react-tel-input:focus-within {
    border-radius: 2px !important;
    box-shadow: none !important;
    cursor: pointer;
    outline: none !important;
    z-index: 100 !important
}

img {
    opacity: 1;
    transition: opacity .3s
}

@-moz-keyframes core-flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes core-flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes core-flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1)
    }
}

@keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1)
    }
}

body {
    top: 0 !important
}

.core-number-picker {
    display: inline-flex
}

.core-number-picker,
.core-number-picker .action-handle {
    align-items: center;
    box-sizing: border-box;
    justify-content: center
}

.core-number-picker .action-handle {
    border: none;
    cursor: pointer;
    display: flex
}

.core-number-picker .value {
    color: #545454;
    font-family: halyard-text, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 2em
}

@media (max-width:1024px) {
    html {
        font-size: 8px
    }
}

@media (min-width:1024px) {
    html {
        font-size: 8px
    }
}

@media (min-width:1280px) {
    html {
        font-size: 9px
    }
}

@media (min-width:1440px) {
    html {
        font-size: 10px
    }
}

@media (min-width:1680px) {
    html {
        font-size: 10px
    }
}

body,
html {
    background: #fff;
    color: #444;
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    text-rendering: optimizeLegibility
}

html body {
    margin: 0 auto
}

body {
    background-color: #fff
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

a:not(.block):not(sup),
label:not(.block):not(sup),
legend:not(.block):not(sup),
li:not(.block):not(sup),
p:not(.block):not(sup),
span:not(.block):not(sup),
sup:not(.block):not(sup) {
    font-size: 1.5rem;
    line-height: 1.4;
    text-decoration: none
}

p.block {
    display: block
}

a.block {
    display: block;
    text-decoration: none
}

a {
    cursor: pointer;
    outline: 0
}

a,
a:active {
    -webkit-transition: color .2s ease-in-out 0s;
    -moz-transition: color .2s ease-in-out 0s;
    -o-transition: color .2s ease-in-out 0s;
    -ms-transition: color .2s ease-in-out 0s;
    transition: color .2s ease-in-out 0s
}

a:active {
    color: #1eb2f5
}

@keyframes shake {
    12.5% {
        transform: translate(2em)
    }

    37.5% {
        transform: translate(-2em)
    }

    62.5% {
        transform: translate(2em)
    }

    87.5% {
        transform: translate(-2em)
    }

    to {
        transform: translate(0)
    }
}

@keyframes breath {
    0% {
        background: #f4f4f4
    }

    50% {
        background: #e7e7e7
    }

    to {
        background: #f4f4f4
    }
}

@-webkit-keyframes open-animation {
    0% {
        height: 100%;
        opacity: 0;
        -webkit-transform: scale(.94)
    }

    to {
        height: 100%;
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes open-animation {
    0% {
        height: 100%;
        opacity: 0;
        -webkit-transform: scale(.94)
    }

    to {
        height: 100%;
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-ms-keyframes open-animation {
    0% {
        height: 100%;
        opacity: 0;
        -webkit-transform: scale(.94)
    }

    to {
        height: 100%;
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-o-keyframes open-animation {
    0% {
        height: 100%;
        opacity: 0;
        -webkit-transform: scale(.94)
    }

    to {
        height: 100%;
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@keyframes open-animation {
    0% {
        height: 100%;
        opacity: 0;
        -webkit-transform: scale(.94)
    }

    to {
        height: 100%;
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@-ms-keyframes flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@-o-keyframes flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes flicker {
    0% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes overflow {
    0% {
        overflow: hidden
    }

    99% {
        overflow: hidden
    }

    to {
        overflow: visible
    }
}

@-webkit-keyframes zuckSlideTime {
    0% {
        max-width: 0
    }

    to {
        max-width: 100%
    }
}

@keyframes zuckSlideTime {
    0% {
        max-width: 0
    }

    to {
        max-width: 100%
    }
}

@-webkit-keyframes zuckLoading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes zuckLoading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

/*! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

hr {
    color: inherit;
    height: 0
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button {
    text-transform: none
}

[type=button],
button {
    -webkit-appearance: button
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

hr,
p {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

input::placeholder,
textarea::placeholder {
    color: #a1a1aa;
    opacity: 1
}

button {
    cursor: pointer
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input {
    color: inherit;
    line-height: inherit
}

iframe,
img,
svg {
    display: block;
    vertical-align: middle
}

img {
    height: auto;
    max-width: 100%
}

.bg-rhapsody {
    --tw-bg-opacity: 1 !important
}

.bg-rhapsody {
    background-color: rgba(236, 25, 67, var(--tw-bg-opacity)) !important
}

.bg-white {
    --tw-bg-opacity: 1 !important
}

.bg-white {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

.border-chalk {
    border-color: rgba(235, 235, 235, var(--tw-border-opacity)) !important
}

.border-chalk {
    --tw-border-opacity: 1 !important
}

.focus\:border-GRAY-G2:focus {
    --tw-border-opacity: 1 !important;
    border-color: rgba(68, 68, 68, var(--tw-border-opacity)) !important
}

.rounded-sm {
    border-radius: .125rem !important
}

.rounded-lg {
    border-radius: .5rem !important
}

.rounded-ds-sm {
    border-radius: .4rem !important
}

.border-default {
    border-width: 1px !important
}

.border-b-default {
    border-bottom-width: 1px !important
}

.cursor-pointer {
    cursor: pointer !important
}

.block {
    display: block !important
}

.flex {
    display: flex !important
}

.flex-row {
    flex-direction: row !important
}

.flex-col {
    flex-direction: column !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.items-end {
    align-items: flex-end !important
}

.items-center {
    align-items: center !important
}

.justify-end {
    justify-content: flex-end !important
}

.justify-center {
    justify-content: center !important
}

.justify-between {
    justify-content: space-between !important
}

.h-2 {
    height: 16px !important
}

.h-1\.5 {
    height: 12px !important
}

.leading-none {
    line-height: 1 !important
}

.mt-1 {
    margin-top: 8px !important
}

.mb-1 {
    margin-bottom: 8px !important
}

.ml-1 {
    margin-left: 8px !important
}

.mt-2 {
    margin-top: 16px !important
}

.mr-2 {
    margin-right: 16px !important
}

.ml-2 {
    margin-left: 16px !important
}

.mt-3 {
    margin-top: 24px !important
}

.mb-3 {
    margin-bottom: 24px !important
}

.ml-3 {
    margin-left: 24px !important
}

.mt-4 {
    margin-top: 32px !important
}

.mt-5 {
    margin-top: 40px !important
}

.mt-6 {
    margin-top: 48px !important
}

.mb-10 {
    margin-bottom: 80px !important
}

.mr-auto {
    margin-right: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.mt-\.25 {
    margin-top: 2px !important
}

.mb-\.25 {
    margin-bottom: 2px !important
}

.mt-\.5 {
    margin-top: 4px !important
}

.mb-\.5 {
    margin-bottom: 4px !important
}

.ml-\.5 {
    margin-left: 4px !important
}

.mt-2\.5 {
    margin-top: 20px !important
}

.object-contain {
    -o-object-fit: contain !important;
    object-fit: contain !important
}

.object-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important
}

.outline-none {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important
}

.p-2 {
    padding: 16px !important
}

.p-1\.5 {
    padding: 12px !important
}

.p-2\.5 {
    padding: 20px !important
}

.pr-3 {
    padding-right: 24px !important
}

.pl-3 {
    padding-left: 24px !important
}

.pr-6 {
    padding-right: 48px !important
}

.placeholder-gallery::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgba(186, 186, 186, var(--tw-placeholder-opacity)) !important
}

.absolute {
    position: absolute !important
}

.relative {
    position: relative !important
}

.sticky {
    position: sticky !important
}

* {
    --tw-shadow: 0 0#0000
}

* {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0#0000;
    --tw-ring-shadow: 0 0#0000
}

.capitalize {
    text-transform: capitalize !important
}

.hover\:underline:hover {
    text-decoration: underline !important
}

.w-2 {
    width: 16px !important
}

.w-auto {
    width: auto !important
}

.w-1\/2 {
    width: 50% !important
}

.w-2\/3 {
    width: 66.666667% !important
}

.w-1\/4 {
    width: 25% !important
}

.w-1\/6 {
    width: 16.666667% !important
}

.w-full {
    width: 100% !important
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {

    75%,
    to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes ping {

    75%,
    to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {

    0%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

@keyframes bounce {

    0%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

input:disabled,
input:disabled::placeholder,
textarea:disabled,
textarea:disabled::placeholder {
    -webkit-text-fill-color: #545454 !important;
    background: #fff;
    color: #545454 !important;
    opacity: 1
}

.max-width-1248 {
    max-width: 1248px !important;
    padding: 0 24px
}

.min-width-1048 {
    min-width: 1048px !important
}

button:active {
    filter: brightness(.9) !important
}

button:active,
button:focus {
    outline: none !important
}

.react-tel-input {
    font-size: 16px;
    position: relative;
    width: 100%
}

.react-tel-input :disabled {
    cursor: not-allowed
}

.react-tel-input .flag {
    flex-shrink: 0;
    width: 80px
}

.flag {
    background-size: 20975px 60px;
    position: relative
}

.react-tel-input .flag-dropdown .selected-flag {
    transform: scale(.25) translateY(50%);
    transform-origin: center top
}

.react-tel-input .af {
    background-position: -246px 0;
    height: 54px
}

.react-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.react-tel-input input[type=tel] {
    border: 1px solid #e2e2e2
}

.react-tel-input input[type=tel]:active,
.react-tel-input input[type=text]:active {
    border-color: #444
}

.react-tel-input .flag-dropdown {
    bottom: 0;
    padding: 0;
    position: absolute
}

.react-tel-input .flag-dropdown:hover {
    cursor: pointer
}

.react-tel-input .selected-flag {
    border-radius: 3px 0 0 3px;
    position: relative;
    z-index: 13
}

.react-tel-input .selected-flag .arrow {
    height: 0;
    left: 120px;
    position: absolute;
    top: 50%;
    transform: scale(4);
    width: 0
}

.react-tel-input input[type=tel] {
    box-shadow: none !important;
    padding: 0 0 0 60px !important
}

.react-tel-input input[type=tel]:focus {
    outline: none !important
}

.react-tel-input .flag-dropdown {
    align-items: center;
    background-color: #fff !important;
    border: none !important;
    display: flex;
    margin-top: unset;
    outline: none !important;
    top: 0 !important
}

.react-tel-input .flag-dropdown .selected-flag {
    background-color: transparent;
    border: none !important;
    height: 14px !important;
    outline: none !important;
    padding: 0 0 0 16px !important;
    width: 40px !important
}

.react-tel-input .flag-dropdown .selected-flag .flag {
    margin-top: 0 !important;
    outline: none !important
}

.react-tel-input .flag-dropdown .selected-flag .arrow {
    border-left: 4.3px solid transparent;
    border-right: 4.3px solid transparent;
    border-top: 4.3px solid #545454;
    margin-left: 8px
}

.react-tel-input .flag-dropdown .selected-flag:active {
    filter: none !important
}

.react-tel-input .flag-dropdown {
    background: #fff !important;
    border-radius: 2px 0 0 2px;
    border-right: none !important;
    color: #444 !important;
    font-family: Avenir !important
}

button:disabled,
button[disabled],
button[disabled]:active,
button[disabled]:focus {
    filter: none !important;
    pointer-events: none
}

.react-tel-input input[type=tel] {
    font-feature-settings: "SS04" 1, "LNUM" 1, "TNUM" 1;
    background: #fff;
    border-radius: 4px;
    font-family: halyard-text, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    height: 53px !important;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-top: 0 !important;
    outline: none;
    padding-left: 48px;
    position: relative;
    width: 100%;
    z-index: 0
}

.country-list:active,
.form-control:active,
.react-select__control--is-focused,
.react-tel-input:active {
    box-shadow: none !important;
    outline: none !important
}

.country-list:active,
.flag-dropdown:active,
.flag-dropdown:focus,
.react-tel-input .country-list:focus,
.react-tel-input .flag-dropdown:focus {
    box-shadow: none !important;
    cursor: pointer;
    outline: none !important;
    z-index: 100 !important
}

.form-control:focus {
    outline: none !important
}

.react-tel-input input {
    border-radius: 4px !important
}

.react-tel-input input:active,
.react-tel-input input:focus {
    border-color: #444
}

.react-tel-input:focus-within {
    border-radius: 2px !important;
    box-shadow: none !important;
    cursor: pointer;
    outline: none !important;
    z-index: 100 !important
}

.react-tel-input .flag-dropdown {
    border: none
}

.eIWzPJ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: -50px;
    left: 50%;
    z-index: 99999;
    pointer-events: none;
    transition: all 300ms ease 0s;
    transform: translate(-50%, 0px);
    border-radius: 1.2rem;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 1.6rem 2.4rem !important
}

.eIWzPJ span {
    white-space: pre-wrap;
    color: rgb(255, 255, 255)
}

@-webkit-keyframes fEWCgj {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes fEWCgj {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fIUbio {
    color: rgb(102, 102, 102);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.hvQdhf {
    color: rgb(159, 159, 159);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.cFRKRz {
    color: rgb(68, 68, 68);
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 28px;
    letter-spacing: 0.8px
}

.kIPami {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.jXoHlY {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px
}

.jxSnNL {
    color: rgb(159, 159, 159);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px
}

.doZFpW {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.PtMMy {
    color: rgb(8, 137, 67);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px
}

.jxBOki {
    color: rgb(68, 68, 68);
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 28px;
    letter-spacing: 0.8px
}

.GuzVo {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.eMNOBr {
    color: white;
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 24px;
    letter-spacing: 0.8px
}

.gfzGJC {
    color: rgb(68, 68, 68);
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 24px;
    letter-spacing: 0.6px
}

.fAbjXQ {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px
}

.dVYSAo {
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0px
}

.iwmAbT {
    color: rgb(68, 68, 68);
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 28px;
    letter-spacing: 0.8px
}

.hYRylW {
    color: rgb(68, 68, 68);
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 24px;
    letter-spacing: 0.6px
}

.hYzHeg {
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 20px;
    letter-spacing: 0.6px
}

.dYlXvb {
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 28px;
    letter-spacing: 0px;
    background: rgb(128, 0, 255)
}

.kLkbeI {
    font-family: halyard-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 20px;
    letter-spacing: 0.6px
}

.cZetCl {
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px;
    border-radius: 0.4rem
}

.cZetCl.border-g6-grey {
    border: 1px solid rgb(226, 226, 226)
}

.bzFgeV {
    display: flex;
    column-gap: 1rem;
    -webkit-box-align: center;
    align-items: center
}

.bzFgeV picture {
    display: flex;
    width: max-content
}

.bzFgeV .whitelabel-logo:not(.with-powered-by) {
    width: 15.3rem
}

.bzFgeV .whitelabel-logo.with-powered-by {
    height: 3.2rem;
    width: auto
}

.bzFgeV .powered-by-headout {
    height: 3.2rem;
    width: auto
}

.kcDkqe {
    cursor: pointer
}

.kcDkqe svg {
    height: 20px;
    max-height: 2.5em;
    align-self: center;
    display: inline
}

.kcDkqe .card-content {
    align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-top: 4rem
}

.kcDkqe .card-content .radio-button {
    margin-right: 2rem;
    margin-top: 2px
}

.kcDkqe .card-content .text-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(226, 226, 226)
}

.kcDkqe .card-content .text-content .display-name {
    display: flex !important
}

.kcDkqe .card-content .text-content .display-name svg {
    margin-left: 1rem
}

.kcDkqe .card-content .text-content .subtext {
    margin-top: 1rem
}

@media (max-width:768px) {
    .kcDkqe .card-content {
        padding-top: 3.2rem
    }

    .kcDkqe .card-content .radio-button {
        margin-right: 1.2rem
    }

    .kcDkqe .card-content .text-content {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid rgb(226, 226, 226)
    }

    .kcDkqe .card-content .text-content .display-name svg {
        margin-left: 0.8rem
    }

    .kcDkqe .card-content .text-content .subtext {
        margin-top: 0.8rem
    }
}

.eWhZVO {
    cursor: pointer
}

.eWhZVO svg {
    height: 20px;
    max-height: 2.5em;
    align-self: center;
    display: inline
}

.eWhZVO .card-content {
    align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-top: 4rem
}

.eWhZVO .card-content .radio-button {
    margin-right: 2rem;
    margin-top: 2px
}

.eWhZVO .card-content .text-content {
    -webkit-box-flex: 1;
    flex-grow: 1
}

.eWhZVO .card-content .text-content .display-name {
    display: flex !important
}

.eWhZVO .card-content .text-content .display-name svg {
    margin-left: 1rem
}

.eWhZVO .card-content .text-content .subtext {
    margin-top: 1rem
}

@media (max-width:768px) {
    .eWhZVO .card-content {
        padding-top: 3.2rem
    }

    .eWhZVO .card-content .radio-button {
        margin-right: 1.2rem
    }

    .eWhZVO .card-content .text-content .display-name svg {
        margin-left: 0.8rem
    }

    .eWhZVO .card-content .text-content .subtext {
        margin-top: 0.8rem
    }
}

.fyZCmp {
    cursor: pointer
}

.fyZCmp svg {
    height: 20px;
    max-height: 2.5em;
    align-self: center;
    display: inline
}

.fyZCmp .card-content {
    align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-top: 4rem
}

.fyZCmp .card-content .radio-button {
    margin-right: 2rem;
    margin-top: 2px
}

.fyZCmp .card-content .text-content {
    -webkit-box-flex: 1;
    flex-grow: 1
}

.fyZCmp .card-content .text-content .display-name {
    display: flex !important
}

.fyZCmp .card-content .text-content .display-name svg {
    margin-left: 1rem
}

.fyZCmp .card-content .text-content .subtext {
    margin-top: 1rem
}

.fyZCmp .custom-fields {
    margin-left: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(226, 226, 226)
}

@media (max-width:768px) {
    .fyZCmp .card-content {
        padding-top: 3.2rem
    }

    .fyZCmp .card-content .radio-button {
        margin-right: 1.2rem
    }

    .fyZCmp .card-content .text-content .display-name svg {
        margin-left: 0.8rem
    }

    .fyZCmp .card-content .text-content .subtext {
        margin-top: 0.8rem
    }

    .fyZCmp .custom-fields {
        margin-left: 3.2rem;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid rgb(226, 226, 226)
    }

    .fyZCmp .custom-fields .card-fields {
        margin-top: -0.8rem
    }
}

.hCzfeN {
    display: flex;
    flex-direction: column;
    margin-top: 0.375rem
}

@media (max-width:768px) {
    .hCzfeN {
        margin-top: 0.3rem
    }
}

.dbquos {
    margin-top: 8rem
}

.dbquos .number-of-methods {
    margin-top: 0.5rem;
    font-weight: 300;
    line-height: 2rem
}

@media (max-width:768px) {
    .dbquos {
        margin-top: 3.2rem
    }

    .dbquos .number-of-methods {
        margin-top: 0.4rem
    }
}

.fvKMOR.fvKMOR a {
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(35, 161, 178)
}

@media (max-width:768px) {
    .fvKMOR {
        margin-bottom: 2.8rem
    }

    .fvKMOR.fvKMOR a {
        font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-feature-settings: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: rgb(35, 161, 178)
    }
}

.cJIMbV {
    border-color: rgb(226, 226, 226)
}

.gkZeJb {
    color: rgb(68, 68, 68)
}

.gkZeJb.login-text-span {
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0.2px
}

.kMnSLO {
    position: relative;
    margin-left: 1.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.kMnSLO .login-text {
    border: 1px solid rgb(68, 68, 68);
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.4em;
    -webkit-box-pack: center;
    justify-content: center;
    height: 3.6em;
    padding: 1rem 1.2rem
}

.kMnSLO .login-text:hover {
    background: rgb(128, 0, 255);
    border: 1px solid rgb(128, 0, 255)
}

.kMnSLO .login-text:hover span {
    color: rgb(255, 255, 255)
}

.dohxAr {
    max-width: 1248px;
    min-width: 1248px;
    display: grid;
    grid-template-columns: max-content auto max-content max-content;
    gap: 24px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 18px 24px
}

@media (min-width:768px) {
    .dohxAr {
        min-height: 8.4em
    }
}

.DpjKL {
    width: 50%;
    padding-right: 24px
}

.hplyOr {
    width: 100%;
    padding-right: 24px
}

.ensGeA {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.2rem;
    justify-content: left;
    margin-top: 1.2rem;
    width: 100%
}

.ensGeA input {
    min-width: 28.2rem
}

.ensGeA button {
    border: 1px solid rgb(19, 189, 104) !important;
    background-color: rgb(255, 255, 255) !important
}

.ensGeA button:focus {
    background-color: rgb(255, 255, 255) !important
}

.ensGeA button:hover {
    background-color: rgb(19, 189, 104) !important
}

.ensGeA button:hover p {
    color: rgb(255, 255, 255) !important
}

.ensGeA button p {
    color: rgb(8, 137, 67)
}

@media (max-width:768px) {
    .ensGeA {
        grid-template-columns: auto auto auto;
        -webkit-box-pack: unset;
        justify-content: unset
    }

    .ensGeA input {
        min-width: unset;
        width: 100%
    }
}

.kqQPpd svg {
    display: none
}

.kqQPpd .promo-label p {
    text-decoration: underline
}

.QZaOu {
    width: calc(50% - 12px);
    margin-top: 40px
}

.jKlMyP {
    margin-left: 8px
}

.gjOfPS {
    flex: 0 0 auto;
    z-index: 5
}

.gjOfPS .core-sticky-absolute-top {
    position: absolute
}

.bhrije {
    align-self: center;
    text-align: right;
    margin-left: 0.8rem;
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 16px;
    letter-spacing: 0px
}

.bhrije.bhrije {
    color: rgb(3, 130, 157)
}

.hDaPBC {
    margin-top: 2rem;
    padding-top: 0px
}

.ctUlDP {
    border-top: 1px solid rgb(226, 226, 226)
}

.imUDWn {
    display: grid;
    row-gap: 1.2rem;
    margin: 2rem 0px
}

.fptOuJ {
    display: flex
}

.fptOuJ.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.fptOuJ.align-items-center {
    -webkit-box-align: center;
    align-items: center
}

.eZJPmy {
    display: flex;
    margin-top: 2.4rem
}

.eZJPmy.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.eZJPmy.align-items-center {
    -webkit-box-align: center;
    align-items: center
}

.eeSioQ {
    display: flex;
    margin-top: 2rem
}

.eeSioQ.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.eeSioQ.align-items-center {
    -webkit-box-align: center;
    align-items: center
}

.jJIZHD {
    display: flex;
    margin-top: 1rem
}

.jJIZHD.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.jJIZHD.align-items-center {
    -webkit-box-align: center;
    align-items: center
}

.fMnnvX {
    display: flex;
    margin-top: 5rem
}

.fMnnvX.full-width {
    width: 100%
}

.hAFRoW {
    display: flex;
    width: 66.6667%
}

.hAFRoW.flex-column {
    flex-direction: column
}

.ezzwfv {
    display: flex;
    width: 33.3333%;
    margin-left: 2rem
}

.jCRAWu {
    display: flex
}

.jCRAWu.align-items-center {
    -webkit-box-align: center;
    align-items: center
}

.grKDTI {
    display: flex;
    margin-left: 1rem
}

.ihkHNh {
    margin-left: 8px;
    color: rgb(68, 68, 68);
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "SS04";
    line-height: 20px;
    letter-spacing: 0px
}

.jiroxn {
    padding: 20px;
    border-width: 1px
}

.jiroxn .mt-2\.5 {
    margin-top: 20px !important
}

.gPyKNL .core-number-picker .value {
    margin: 0px 1.2rem
}

.hZKcQA {
    margin-left: 24px;
    width: 33.33%;
    max-width: 384px;
    margin-bottom: 64px
}

.fpVmpx {
    width: 50%;
    padding-right: 12px
}

html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none
}

@-webkit-keyframes r-1hunrpy {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@-webkit-keyframes r-1rx4pb {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(400%)
    }
}

@-webkit-keyframes r-9p3sdl {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes r-imtty0 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes r-ndfo3d {
    0% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@-webkit-keyframes r-t2lo5v {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes r-1hunrpy {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes r-1rx4pb {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(400%)
    }
}

@keyframes r-9p3sdl {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes r-imtty0 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes r-ndfo3d {
    0% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(100%)
    }
}

@keyframes r-t2lo5v {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}


@-webkit-keyframes fEWCgj {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fEWCgj {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fPyRLs {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
}

.jPhTLn {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.iOoeau {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.iOoeau:after,
.iOoeau:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    border: 0.6rem solid #F8F8F8;
    width: 100%;
    height: 100%;
}

.iOoeau:before {
    border-top-color: #8000ff;
    z-index: 1;
    -webkit-animation: fEWCgj 1s infinite;
    animation: fEWCgj 1s infinite;
}

.iwWuaX {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "SS04" 1;
    line-height: 28px;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
}

input~.error {
    display: block;
    color: red;
    font-weight: 600;
    padding: 5px 0px;
    position: absolute;
}

input.error {
    border: 1px solid red !important;
}

input[type="text"].valid {
    border: 1px solid #06a406 !important;
}

input[type="email"].valid {
    border: 1px solid #06a406 !important;
}

.iti {
    width: 100%;
}


.sf-hidden {
    display: none !important
}




img[src="data:,"],
source[src="data:,"] {
    display: none !important
}




#webklipper-publisher-widget-container,
#webklipper-publisher-widget-container * {
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}



.single-file-highlight-yellow,
.single-file-highlight-yellow-mode ::selection {
    background-color: #ffff7c !important;
    color: black !important;
}

.single-file-highlight-pink,
.single-file-highlight-pink-mode ::selection {
    background-color: #ffbbb6 !important;
    color: black !important;
}

.single-file-highlight-blue,
.single-file-highlight-blue-mode ::selection {
    background-color: #95d0ff !important;
    color: black !important;
}

.single-file-highlight-green,
.single-file-highlight-green-mode ::selection {
    background-color: #93ef8d !important;
    color: black !important;
}

span.single-file-highlight-yellow,
span.single-file-highlight-pink,
span.single-file-highlight-blue,
span.single-file-highlight-green {
    display: inline !important;
}

.single-file-highlight-hidden {
    background-color: inherit !important;
    color: inherit !important;
}

.single-file-mask {
    all: initial;
    display: contents !important;
}

.single-file-mask.single-file-page-mask {
    opacity: .99 !important;
}

single-file-note {
    all: initial !important;
    display: contents !important;
}

.single-file-cut-hover,
.single-file-cut-outer-hover,
.single-file-cut-selected,
.single-file-cut-outer-selected {
    transition: outline-width 125ms !important;
    outline-offset: -4px !important;
    outline-width: 4px !important;
}

.single-file-cut-hover,
.single-file-cut-outer-hover {
    outline-style: dotted !important;
}

.single-file-cut-selected,
.single-file-cut-outer-selected {
    outline-style: dashed !important;
}

.single-file-cut-hover,
.single-file-cut-selected {
    outline-color: red !important;
}

.single-file-cut-outer-hover,
.single-file-cut-outer-selected {
    outline-color: green !important;
}

.single-file-cut-mode,
.single-file-cut-mode * {
    pointer-events: auto !important;
    touch-action: none !important;
}

.single-file-cut-hover,
.single-file-cut-outer-hover,
.single-file-remove-highlights-mode .single-file-highlight:hover {
    cursor: crosshair !important;
}

.single-file-removed {
    display: none !important;
    float: none !important;
    position: static !important;
    visibility: collapse !important;
}

a[href],
img {
    -webkit-touch-callout: none;
}
.dPUjeY {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.4rem;
	-moz-box-align: center;
	align-items: center;
	background-color: rgb(248, 248, 248);
	color: rgb(102, 102, 102);
	padding: 1.2rem 1.4rem 1.2rem 1.2rem;
	border-radius: 0.4rem;
	margin-bottom: 4rem;
}
.dPUjeY span {
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 16px;
	letter-spacing: 0px;
}
.instructions-banner {
	margin-top: 2.4rem;
	margin-bottom: -0.8rem;
}
.instructions-banner .markdown-container {
	background: rgb(255, 248, 229) none repeat scroll 0% 0%;
	padding: 0.6rem 2rem;
	border-radius: 1.2rem;
	width: 80rem;
}
.instructions-banner .markdown-container ul {
	list-style: none;
	margin-left: 0px;
    padding: 0;
}
.instructions-banner .markdown-container ul li {
	margin-left: 0.4rem;
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 20px;
	letter-spacing: 0px;
}
.bhMktx .markdown-container {
	background: rgb(255, 248, 229) none repeat scroll 0% 0%;
	padding: 1.6rem 2rem;
	border-radius: 1.2rem;
	width: 80rem;
}
.bhMktx .markdown-container ul {
	list-style: outside;
	margin-left: 2rem;
}
.bhMktx .markdown-container ul li {
	margin-left: 0.4rem;
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 20px;
	letter-spacing: 0px;
}
.fILrGK {
	display: flex;
	padding: 1.6rem 2rem;
	margin: 1.6rem -2rem 2rem;
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(255, 242, 204, 0.6) 0%, rgba(255, 242, 204, 0) 100%, rgba(255, 242, 204, 0) 100%) repeat scroll 0% 0%;
}
.fILrGK .logo-wrapper {
	margin-right: 1.2rem;
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 20px;
	letter-spacing: 0px;
}
.fILrGK .content .header {
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: rgb(232, 134, 43);
}
.fILrGK .content .desc {
	margin-top: 0.4rem;
	font-family: halyard-text, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: rgb(130, 130, 130);
	width: 213px;
}
.fILrGK .content .desc .validity {
	font-weight: 500;
}